.titulo {
    width: 100%;
    top: 0;
    font-size: 30px;
    text-align: center;
    position: fixed;
    background-color: aliceblue;
    height: 37px;
}
.texto {
    font-size: 30px;
    text-align: left;
    margin: 55px 0 0;

}
body {
    height: 200vh; /* Vh e Vw*/
}
.caixa3 {
    background-color: black;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
div {
    width: 150px;
    height: 150px;
    margin: 20px;
}
.caixa1 {
    position: sticky;
    top: 0;
    background-color: red;
}