* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.caixa-login {
    width: 1000px;
    height: 400px;
    margin: 50px auto;
    color: #2d73b5;
    padding: 60px;
    border: 2px solid #8cbf51;
    background-color: #f4f3ea;
    border-radius: 20px;
    font-size: 15px;
}

.enviar {

    background-color: #2d73b5;
    color: white;
    height: 40px;
}

* {
    margin: 0;
    padding: 0;
}

button {
    height: 30px;
    width: 600px;
    border-radius: 5px;
}

input {
    width: 450px;
    height: 30px;
    border-radius: 5px;
}

.buscar {
    text-align: left;
}

body {
    background-image: url(imglogin/background.png);
    align-items: center;
    text-align: center ;
}

.file {
    border: 2px solid black;
    border-radius: 5px;
}

header {
    display: flex;
    align-items: center;
    height: 140px;
    font-size: 25px;
    background-color: #ebe5b6;
    font-family: "Mont";
}

.inicio {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 700px;
    font-size: 18px;
}

.logo {
    width: 200px;
    height: 120px;
}

footer {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 99vw;
    padding: 0 10px;
    font-size: 25px;
    align-items: center;
    background-color: #2d73b5;
    height: 70px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
}

.inicio {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 700px;
    font-size: 18px;
}

.inicio a {
    text-decoration: none;
    color: #2d73b5;
}

.presente {
    color: green;
}

.falta {
    color: red;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    width: 200px;
}

tr {
    color: black;
}

table {
    padding-top: 40px;
    width: 1000px;
    height: 280px;
}

.selecione {
    height: 40px;
    width: 500px;
    border-radius: 5px;
}
form {
    display: flex;
}
.buscar1 {
    padding-left: 10px;
}
.txtt {
    width: 450px;
    height: 35px;
}