body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 60% auto;
    height: 100vh;
    gap: 5px;
    grid-template-areas: "header header header" "nav main aside" "footer footer footer";
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
}

header {
    grid-area: header;
    background-color: lightgray;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


div {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 20px;
    height: 200px;
    justify-content: space-evenly;
    margin: 0 70px;
}

.div1 {
    border: 3px solid black;
    width: 150px;
    border-radius: 30px;
    transition: 1s ease-in;
}

.div2 {
    border: 3px solid black;
    width: 150px;
    border-radius: 30px;
    transition: 1s ease-in;
}

.div3 {
    border: 3px solid black;
    width: 150px;
    border-radius: 30px;
    transition: 1s ease-in;
}

.div4 {
    border: 3px solid black;
    width: 150px;
    border-radius: 30px;
    transition: 1s ease-in;
}

.div5 {
    border: 3px solid black;
    width: 150px;
    border-radius: 30px;
    transition: 1s ease-in;
}

.div6 {
    border: 3px solid black;
    width: 150px;
    border-radius: 30px;
    transition: 1s ease-in;
}

.logo {
    width: 120px;
    border-radius: 30px;
}

.div1:hover {
    width: 200px;
    transition: 1s ease-in-out
}
.div2:hover {
    width: 200px;
    transition: 1s ease-in-out
}
.div3:hover {
    width: 200px;
    transition: 1s ease-in-out
}
.div4:hover {
    width: 200px;
    transition: 1s ease-in-out
}
.div5:hover {
    width: 200px;
    transition: 1s ease-in-out
}
.div6:hover {
    width: 200px;
    transition: 1s ease-in-out
}

.txt1 {
    color: black;
    font-size: 20px;
    transition: 1s ease-in-out
}
.txt2 {
    font-size: 20px;
    transition: 1s ease-in-out
}
.txt3 {
    color: black;
    font-size: 20px;
    transition: 1s ease-in-out
}


.txt1:hover {
    text-decoration: underline;
    color: white;
    font-size: 25px;
    transition: 1s ease-in-out
}
.txt2:hover {
    text-decoration: underline;
    color: black;
    font-size: 25px;
    transition: 1s ease-in-out
}
.txt3:hover {
    text-decoration: underline;
    color: white;
    font-size: 25px;
    transition: 1s ease-in-out
}
